body {
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.reserva-container {
  max-width: 700px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer-bar {
  background-color: #6a2016;
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.logo {
  width: 100px;
}

.equipo-checkbox {
  margin: 10px;
}

@media (max-width: 576px) {
  .logo {
    width: 80px;
  }

  .equipo-checkbox {
    margin: 5px;
  }

  .footer-bar {
    height: auto;
    padding: 15px;
    flex-direction: column;
    text-align: center;
  }
}
